body {

    max-width: 100vw;
    margin: 0 auto;
    align-items: center;
    background-color:#135085 ;
    /* rgb(71, 71, 71) */
    
}
.conteiner_principal {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    
    } 


header {

   display: flex;
   justify-content: space-between;
    align-content: center;
    background-color: #135085;
    max-width: 100%;
    position: absolute;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 9;
    
 
}

.logo img {

    height: 70px;
    padding-left: 60px;
    
} 

.menu {

    align-content: center;
    display: flex;
}

.pesquisar {
    padding-right: 60px;
    align-content: center;
        
}

.pesquisar input {
    border-radius: 20px;
    height: 30px;
    border: none;
}

.pesquisar button { 
    background-color:#FF6600;
    font-family: verdana;
    font-size: large;
    border-radius: 20px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 5px;
}
 
.pesquisar button:hover{ 
    background-color:#03056e;
    font-family: verdana;
    font-size: large;
    border-radius: 20px;
    height: 30px;
    border: none;
    color: #FF6600;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    
}

.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../image/slider01.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.slide {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
   

}

.conteudoSlider {

    display: flex;
    flex-direction: column;
    width: 50%;
   
}

.slider h1 {
    padding-left: 60px;
    color: white;
    font-size: 32px;
    font-family: verdana;
}

.slider h2 {
    padding-left: 60px;
    color: #FF6600;
    font-size: 25px;
    font-family: verdana;
    margin-top: -25px;

}

.slider p {
    padding-left: 60px;
    color: #ffffff;
    font-size: 15px;
    font-family: verdana;
    

}
a {

    height: 40px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    font-family: verdana;
    font-size: large;
    font: bold;
    align-content: center;
}

.navBotoes {

    display: flex;
    gap: 5%;
    padding: 1vw 1.4vw;
    border-radius: 200px;
    border: none;
    position: absolute;
    bottom: 0;
    

}


.conteiner_home {
    max-width: 900px;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    color: bisque;
}


.conteiner_imagem {  

    width: 400px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    

}
.imagem_central { 
   
    max-width: 400px;
    height: auto;

}

.conteiner_sobre {

    color: black;
    max-width: 100%;
    background-color: white;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;

}

.conteiner_servicos {

    
    max-width: 100%;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
    color: white;

}

.conteiner_contato {

    color: black;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;

}

.para_cima {

    border: 0;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: #101010;
    color: whitesmoke;
    align-items: center;
    align-content: center;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 9;

}

.para_cima :hover {

    background-color: #101010;
    color: white;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 0;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    z-index: 9;


    }

/*  */
.conteiner_footer {

    background-color: black;
    font-size: 20px;
    font-family: verdana;
    margin: 0auto;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-align: center;
}
